{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <img src="{{ product.image }}" class="img-fluid">
    </div>
    <div class="col-md-8">
        <h3>{{ product.title }}</h3>
        <p>Price: {{ product.price }} руб.</p>
        <p>Description: {{ product.description }}</p>
        <p>Stores: {{ product.stores }}</p>
        <p>Category: {{ product.category }}</p>
        <p>Date created: {{ product.date_created }}</p>
        <p>URL: {{ product.url }}</p>
        <p>Owner: {{ product.owner }}</p>
        <hr>
        <a href="{% url 'cart:cart_add' product.id %}"><button class="btn btn-danger">Add to card</button></a>
    </div>



</div>

    <h1>Reservation product</h1>
    {% if sended %}
    <h2> Thank you! Your reservation confirmed</h2>
    {% endif %}
    <form action="#" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Confirm the reservation">
    </form>

{% endblock content %}


