* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background: rgb(236,236,236);
}



.header img {
    width: 20px;
}

button:hover {
    color:red ;
}

ul li{
    list-style-type: initial;
}

.app-wrapper {
    display: grid;
    width: 120px;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.content{
    grid-area: c;
     width: 1000px;
    height: 1200px;
    background-color: cornflowerblue;
}

.nav {
    grid-area: n;
    background-color: burlywood;
}

.item{
    color: white;
}
