{% extends 'base.html'%}
{% load static %}

{% block content %}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
</head>

<ul class="list-group list-group-flush">

    <li class="list-group-item">storename: {{store.name}}</li>
    <li class="list-group-item">Created at: {{s.date_created}}</li>
    <li class="list-group-item">Created at: {{s.date_created}}</li>
    <li class="list-group-item">Created at: {{s.date_created}}</li>
  </ul>


<h1>{{ store.name }}</h1>
    <p>
    <pre>
            Iadafple :)
            I hope you like it!
    {{ store.name }}
    </pre>
    </p>

{% endblock %}
