{% extends 'base.html'%}
{% load static %}

{% block content %}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
</head>

    <div class="row">
    <div class="col-md-4">
        <img src="{{ product.image }}" class="img-fluid">
    </div>
    <div class="col-md-8">
        {% for store in stores %}
        <h3>{{store.name}}</h3>
        <p>{{store.date_created}} руб.</p>
        <p>Description: {{store.description}}</p>
        <p>Created at: {{store.user}}</p>
        <hr>
        <a href="#"><button class="btn btn-danger">Welcome to shop!</button></a>
        {% endfor %}
    </div>



</div>

{% endblock content%}
