{% extends 'base.html'%}
{% load static %}
{% block content %}
<h1>{{ title }}</h1>
<p>Content main page
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
</head>


<ul>
    {% for s in stores %}
    <li>
        <h2>{{s.name}}</h2>
        <p>{{s.description|linebreaks|truncatewords:20}}</p>
        <p>{{s.image}}</p>
        <p>{{s.owner}}</p>
    {% endfor %}
</ul>


<ul>
    {% for p in products %}
    <li>
        <li><h2>{{p.title}}</h2>
        <p>{{p.image}}</p>
        <p>{{p.description|linebreaks|truncatewords:20}}</p>
        <p>{{p.price}}</p>
        <p>{{p.stores}}</p>
        <p>{{p.category}}</p>
    {% endfor %}
</ul>
<body>
    <h3>Popular products</h3>
    <img src="{% static "images/Hoodie.jpeg" %}" alt="Stones along the river" >
    <img src="{% static "images/laptop.jpg" %}" alt="Stones along the river" >
</body>

{% endblock %}